* {
  margin:0;
  padding:0;
  font-family:Arial, sans-serif;
}
body {
  font-size:80%;
}
h1 {
  font-size:1.4em;
  margin:.5em 0;
}
ul {
  list-style:none;
}
a img {
  border:none;
}
#wrapper {
  width:960px;
  margin: 0 auto;
}
#content {
  width:610px;
  position:relative;
}
#sidebar {
  width:340px;
  margin-left:10px;
}
#pager {
  width:100%;
  clear:both;
}
#footer {
  width:100%;
  clear:both;
}
.column {
  float:left;
}
.tweet-wrapper {
  padding:5px 0;
  width:100%;
  height:50px;
  clear:both;
  border-bottom: 1px solid #666;
}
.tweet {
  float:left;
  width:575px;
}
.twitter-profile-image {
  float:left;
  width:48px;
  height:48px;
  padding-right:10px;
}
.twitter-actions {
  text-align:right;
  font-size:.85em;
  float:left;
  width:30px;
  overflow:hidden;
  margin-left:5px;
}

/* status message form */
#status {
  width:600px;
}

/* Google Maps */
#mapsearch {
width:340px;
}