* {
  margin:0;
  padding:0;
  font-family:Arial, sans-serif;
}
body {
  font-size:90%;
}
h1 {
  font-size:1.4em;
  margin:.5em 0;
}
a img {
  border:none;
}
#wrapper {
  width:960px;
  margin: 0 auto;
}
#content {
  width:660px;
  position:relative;
}
#sidebar {
  width:300px;
}
#pager {
  width:100%;
  clear:both;
}
#footer {
  width:100%;
  clear:both;
}
.column {
  float:left;
}
.tweet-wrapper {
  padding:5px 0;
  width:100%;
  height:55px;
  clear:both;
  border-bottom: 1px solid #666;
}
.tweet {
  float:left;
  width:600px;
}
.twitter-profile-image {
  float:left;
  width:48px;
  height:48px;
}
.twitter-status {
  padding:0 0 0 58px;
}
.twitter-actions {
  text-align:right;
  font-size:.85em;
  float:left;
  width:60px;
  overflow:hidden;
}
.twitter-actions li {
  display:inline;
  margin-left:20px;
}
