{% spaceless %}
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{% block title %}Tweetux - Linux Tweets{% endblock %}</title>
<link rel="shortcut icon" href="/static/images/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
{% block stylesheets %}{% endblock %}
</head>
<body>
<div id="wrapper">
<h1><a href="/">{% block heading %}Tweetux - Linux Tweets{% endblock %}</a></h1>
  {% block subheading %}{% endblock %}
  <div id="content" class="column">
    {% if is_user_logged_in %}
    <div>
    <form action="/status/update" method="post">
      <textarea name="status" id="status" rows="2" cols="40"></textarea> <br />
      <input type="submit" name="update" value="update" />
    </form>
    </div>
    {% endif %}
    {% block content %}
    Main Content
    {% endblock %}
  </div>
  
  <div id="sidebar" class="column">
    {% if is_user_logged_in %}
      <a href="/oauth/twitter/logout">Logout from Twitter</a>
    {% else %}
      <a href="/oauth/twitter/login">Login from Twitter</a>
    {% endif %}
    
    {% block sidebar %}
      <p>Tweetux shows tweets about Linux.</p>
    {% endblock %}
  </div>
  
  <div id="footer">
    <p>Tweetux is powered by <a href="http://twitter.com/">Twitter</a> and <a href="http://code.google.com/appengine/">Google App Engine</a>.</p>
  </div>
</div>
<script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/static/js/script.js"></script>
{% block scripts %}{% endblock %}
{% include 'ga.html' %}
</body>
</html>
{% endspaceless %}