{%  for r in result.results  %}
<div class="tweet-wrapper">
<div class="tweet">
  <a href="http://twitter.com/{{r.from_user}}">
    <img class="twitter-profile-image" src="{{r.profile_image_url}}" alt="{{r.from_user}}" title="Follow {{r.from_user}}" />
  </a>
  <p class="twitter-status"><a href="http://twitter.com/{{r.from_user}}" title="Follow {{r.from_user}}">{{r.from_user}}</a>: {{r.text|striptags|urlize}}</p>
</div>
<div class="twitter-actions">
  <ul>
    <li><a href="http://twitter.com/{{r.from_user}}/status/{{r.id}}" title="Status updated on {{r.created_at}}">Tweet</a></li>
    <li><a href="http://twitter.com/home?status=@{{r.from_user}}&amp;in_reply_to_status_id={{r.id}}&amp;in_reply_to={{r.from_user}}" title="Reply to status update">Reply</a></li>
  </ul>
</div>
</div>
{%  endfor  %}

<div id="pager">
{%  if result.previous_page  %}
  <a href="/tweets{{result.previous_page}}" onclick="get_tweets(this);return false;">previous</a>
{%  endif  %}

{%  if result.next_page  %}
  <a href="/tweets{{result.next_page}}" onclick="get_tweets(this);return false;">next</a>
{%  endif  %}
</div>